@model List<TrabajoPractico3.Models.Cadete>
@{
    ViewData["Title"] = "Listado de cadetes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="AltaCadete" asp-controller="Cadetes">Crear cadete</a>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
</div>
