@model TrabajoPractico3.Models.Cadete
@{
    ViewData["Title"] = "Liquidacion de Cadetes";
}


<!--
    <div class="alert alert-warning" role="alert">
    Recuerde que solo se pagaran los pedidos Entregados!
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Numero de pedido</th>
            <th scope="col">Dierccion</th>
            <th scope="col">Estado</th>
            <th scope="col">Observacion</th>
        </tr>
    </thead>
    <tbody>
       
        <tr>
            <th></th>
            <th></th>
            
    </tbody>


-->
