@{
    ViewData["Title"] = "Crear Pedido";
}
@model List<TrabajoPractico3.Models.Cadete> 

@if(Model.Count() > 0)
            {
<section class="section-padding mx-auto seccion-form">
    <form method="post" class="mx-auto form-login" asp-controller="Pedidos" asp-action="AltaPedido">
        <h2 class="mb-5 text-center" id="">Nuevo Pedido</h2>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user">Numero de Pedido</i></span>
            <input type="number" class="form-control" placeholder="Numero de Pedido" aria-label="Numero de Pedido" aria-describedby="basic-addon1" name="numero" required>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text" id="basic-addon1"><i class="far fa-address-card">Observacion</i></span>
            <input type="text" class="form-control" placeholder="Observacion" aria-label="Observacion" aria-describedby="basic-addon1" name="obs" required>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt">Estado</i></span>
            <input type="text" class="form-control" placeholder="Estado" aria-label="Estado" aria-describedby="basic-addon1" name="estado" required>
        </div><br />

        <label for="formGroupExampleInput">Datos del Cliente</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user">Nombre y apellido</i></span>
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre del Cadete" aria-describedby="basic-addon1" name="nombre" required>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text" id="basic-addon1"><i class="far fa-address-card">Dirección</i></span>
            <input type="text" class="form-control" placeholder="Direccion" aria-label="Direccion" aria-describedby="basic-addon1" name="direccion" required>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt">Teléfono</i></span>
            <input type="text" class="form-control" placeholder="Telefono" aria-label="Telefono" aria-describedby="basic-addon1" name="telefono" required>
        </div>

        <div class="input-group mt-4">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt">Seleccione un cadete</i></span>
            <select class="form-control" id="id_cadete" name="id_cadete" required>
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }

            </select>
        </div>
        <button class="btn btn-primary w-100 mt-4" type="submit">Añadir Pedido</button>
    </form>
</section>  }
else
{
  <p>Debe crear al menos un cadete</p>
}

